/* TODO: You should clear this css and make it your own (this is not a boostrap css, just a css
 *       to support the quickstart index page.  
 * 
 * NOTE: For advanced application, we recommend going with Twitter Bootstrap and lesscss (Snow has 
 * builtin it support for less)
 */

#starterPage h1{
  text-align: center;
}

ul{
  padding-left: 5px;
}
ul ol{
  padding-left: 5px;
  line-height: 1.5;
  font-size: 1.2em;
}

em{
  font-family: monospace;
  color: #5588bb;
}